body {
    padding-top: 5rem;
    text-align: center;
}
img{
   border-radius:50%;
   width:150px;
   height:150px;
}
.horizontal-stats {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center;
}

.horizontal-stats p {
    margin-right: 20px; 
    
}
.stat {
    text-align: center;
    margin: 0 20px; /* Adjust spacing between stats */
}

.number {
    font-size: 24px; /* Adjust font size of the numbers */
    font-weight: bold;
}

.label {
    margin-top: 5px; /* Adjust space between number and label */
}